body{
    color: indianred;
    background-image: url("https://www.colourbox.com/preview/1972363-student-and-books-on-the-background-of-the-blue-cell.jpg");
}

.table{
    border: navajowhite solid 2px;
}

#menu{
    color: #1b3249;
}